<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        html {
            background: rgb(14, 14, 14) url(/static/backdrop.jpg) no-repeat center center fixed;
        }
    </style>
    <link rel="preload" as="font" href="/static/woff2/iosevka-thin.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/style.css' />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">  
    <title>Home</title>
</head>

<body>
    <ul id="navbar" class='nav'>
        <li><a href="https://google.ca ">Home</a></li>
        <li><a href="https://google.ca ">News</a></li>
        <li><a href="https://google.ca ">Contact</a></li>
        <li><a class="active " href="https://google.ca ">About</a></li>
    </ul>
    <div id="name">
        Sanchaai Mathi
    </div>
    <div id="particles-js"></div>
    <script type="text/javascript " src="/static/particles.js "></script>
    <script type="text/javascript " src="/static/app.js "></script>
</body>

</html>